[package]
name = "taxonomy"
version = "0.3.3"
authors = ["Roderick Bovee & One Codex <roderick@onecodex.com>"]
description = "Routines for loading, saving, and manipulating taxonomic trees"
keywords = ["taxonomy", "bioinformatics"]
categories = ["command-line-utilities", "science"]
repository = "https://github.com/onecodex/taxonomy"
license = "MIT"
readme = "./README.md"
edition = "2018"

[dependencies]
clap = { version = "2.33.0", optional = true}
failure = "0.1.5"
memchr = "2.2.1"
pyo3 = { version = "0.5.0", optional = true }
quick-xml = "0.15.0"
serde = "1.0.99"
serde_derive = "1.0.99"
serde_json = "1.0.40"

[features]
default = ["cli"]
cli = ["clap"]
python = ["pyo3/extension-module"]

[lib]
crate-type=["cdylib", "rlib"]
